html {
    background-color: #f3f1e8;
}
body {
    padding: 0 10%;
}
nav {
    display: flex;
    justify-content: space-around;
    justify-content: flex-end;
    color: #9b4819;
  }
  ul {
    list-style: none;
    margin: 0;
  }
  a {
    color: #9b4819;
    text-decoration: none;
  }
  li {
    display: inline-block;
    padding: .75rem 1.25rem;
  }
  li:hover {
    text-decoration: underline;
  }
  .banner{
    background-color: #f5f4ee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-height: 700px;
    max-width: auto;

  }
  @keyframes left_to_right {
    from {
      margin-left: -40%;
    }
    to {
      margin-left: 0;
    }
  }
  @keyframes right_to_left {
    from {
      margin-left: 30%;
    }
    to {
      margin-left: 0;
    }
  }
 
  h1 {
    overflow: hidden;
    animation: left_to_right 3s ease;
    color: #9b4819;
    font-family: 'Raleway', sans-serif;
  }
  .banner p {
    overflow: hidden;
    animation: right_to_left 3s ease;
  }
  footer p {
    overflow: hidden;
    animation: left_to_right 3s ease;
  }
  .side-profile video{
    max-width: 100%;
    max-height: 400px;
    min-width: 150px;
    
  }
  .side-profile{
    max-width: 100%;
    max-height: auto;
    padding: 5%;
    
  }
  article{
    padding: 10% 10% 10% 5%;
  }